{{- if .Values.configMap.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "codesys-targetvisu.configMapName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "codesys-targetvisu.labels" . | nindent 4 }}
data:
  {{- with .Values.configMap.data }}
  {{- toYaml . | nindent 2 }}
  {{- end }}
{{- end }}
