{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "codesys-targetvisu.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "codesys-targetvisu.labels" . | nindent 4 }}
  annotations:
    {{- include "codesys-targetvisu.annotations" . | nindent 4 }}
    {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- if .Values.ingress.tls.enabled }}
  tls:
    - hosts:
        - {{ .Values.ingress.host }}
      secretName: {{ include "codesys-targetvisu.ingress.tlsSecretName" . }}
  {{- end }}
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /
            pathType: {{ .Values.ingress.pathType | default "Prefix" }}
            backend:
              service:
                name: {{ include "codesys-targetvisu.fullname" . }}
                port:
                  name: http
{{- end }}
