apiVersion: v2
name: influxdb-pod
description: Industrial-grade InfluxDB time-series database for factory automation and IIoT data collection. Because your factory's data deserves better than an Excel spreadsheet.
type: application
version: 1.0.0
appVersion: "2.7"
keywords:
  - influxdb
  - time-series
  - industrial
  - iiot
  - scada
  - monitoring
  - factory
  - sensor-data
home: https://github.com/fireball-industries/influxdb-pod
sources:
  - https://github.com/influxdata/influxdb
maintainers:
  - name: Patrick Ryan
    email: patrick@fireballindustries.com
    url: https://fireballindustries.com
icon: https://influxdata.github.io/branding/img/downloads/influxdata-logo--symbol--pool-alpha.svg
annotations:
  catalog.cattle.io/certified: "partner"
  catalog.cattle.io/display-name: "InfluxDB Pod - Industrial Time-Series Database"
  catalog.cattle.io/release-name: "influxdb"
  catalog.cattle.io/namespace: "databases"
  catalog.cattle.io/categories: "Forge Industrial,Database,Time-Series"
  catalog.cattle.io/os: "linux"
  catalog.cattle.io/type: "database"
