{{- if .Values.resourceQuota.enabled }}
apiVersion: v1
kind: ResourceQuota
metadata:
  name: {{ include "codesys-edge-gateway.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "codesys-edge-gateway.labels" . | nindent 4 }}
spec:
  hard:
    {{- toYaml .Values.resourceQuota.hard | nindent 4 }}
{{- end }}
